# lockbox-datastore code owners
# https://help.github.com/articles/about-codeowners/

# everything is to be reviewed by @linuxwolf
# also, default to always include PI
*         @linuxwolf @mozilla-lockbox/product-integrity
